{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<br>
<h1>Profil</h1>

<br><br><br>

<div class="profile">
    <div class="">
        <img src="{{ asset('images/img1.png') }}" alt="Profile Picture">
    </div>
    <div class="">
        <h1>John Doe</h1>
        <p>johndoe@gmail.com</p>
        <p>Web Developer</p>
        <br><br>
        <button type="button" class="btn btn-secondary btn-lg">se déconnecter</button>
    </div>
        
</div>
{% endblock %}
